body {
	background-color: white;
}

h1, p {
	color:rgba(236, 240, 241,1.0);
}

h3 {
	color:rgb(174,209,255);
}

img {
	width: 100%;
}

#background-image {
	background-image: url(../images/vineyard.jpg);
	height: 400px;
	width: 100vw;
	background-size: cover;
	opacity: 0.7;
}
