
body {background-image: url(../images/vineyard.jpg);
	background-size: cover;
	background-repeat: no-repeat
	font-size:16px; /*1em = 16px*/
	max-width: 500px
	}

h1 {
	font-family: 'Unica One', cursive;
	font-weight: 250;
	color: black;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 5px;
}
h2 {
	font-family: 'Unica One', cursive;
	font-weight: 200;
	color: black;
	text-align: center;
	padding-top: 1px;
}
p {
	font-family: 'Fauna One', serif;
	font-size:1em;
	max-width:30em;
	color: black;
	text-align: center;
	line-height: 1.5em;
}


/*h3 {
	color: black);
}*/



